.recuadroPantallaPrin{
    border: 3px solid #165480;
    margin-top: 7rem;
     width: 1900px;
     height: 800px; 
}

.mensajePantallaPrincipal{
    color: black;
      font-size: 3rem;
      text-align: center;
  }

  

    
     
   